/*основний колір тексту #212121 
другорядний колір тексту #757575
колір фону команди background: #F5F4FA
колір фону футера background: #2F303A
колір акценту #2196F3
-----------------------------------------
основний font - Roboto 400, 500, 700 
logo font - Raleway 700
----------------------------------------*/
/* :root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --footer-bg-color: #2F303A;
  } */
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    letter-spacing: 0.03em;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .container {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
  }
  /*---------HEADER-----------*/
.header {
  background-color: #1FBD8A;
  border-bottom: 1px solid rgba(19, 40, 29, 0.098);
}

.nav {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  padding-top: 20.5px;
  padding-bottom: 19.5px;
  margin-right: 33px;
}
.nav-list {
  display: flex;
}
.nav-link {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 1,2;
  color: #FFFFFF;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.nav-item + .nav-item {
  margin-left: 30px;
}
.registration-list .item + .item {
  margin-left: 35px;
}
.keys {
  padding: 10px 35px;
  background: #F4FBF9;
  border-radius: 50px;
  color: #24475B;
}
.registration-list {
  display: flex;
  align-items: center;
}
.registration {
  margin-left: auto;
}
/*----------MAIN---------*/
/*--------SECTION-HERO--------*/
.main-wrapper {
  background-color: #1FBD8A;
}
.hero {
  display: flex;
  padding-top: 87px;
}
.hero-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #FFFFFF;

  display: inline-block;
  padding: 11px 15px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 33px;
  margin-bottom: 30px;
}
.hero-title{
  font-weight: 400;
  font-size: 60px;
  line-height: 1.33;
  color: #FFFFFF;
  min-width: 504px;
  margin-bottom: 30px;
}
.hero-text-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44;
  color: #FFFFFF;
  margin-bottom: 44px;
}
.hero-button .link {
  display: inline-block;
  text-decoration: none;
  padding: 15px 90px;
  font-weight: 400;
font-size: 15px;
line-height: 1;
text-align: center;
}
.hero-button {
  display: flex;
}
.hero-button .item + .item {
  margin-left: 12px;
}
.whitebg {
  display: block;
  text-decoration: none;
  padding: 15px 90px;
  background-color: #FFFFFF;
  border-radius: 50px;
  color: #013A51;
  width: 262px;
}
.darkbg {
  text-decoration: none;
  padding: 15px 90px;
  background-color: #192F44;
  border-radius: 50px;
  color: #FFFFFF;
  width: 262px;
}
/*--------BRANDS--------*/
.wrapper-brands {
  padding-bottom: 140px;
}
.brands {
  display: flex;
  background-color: #FBFCF5;
  width: 1100px;
  align-items: center;
  justify-content: center;
}
.brands > .item:not(:last-child) {
  margin-right: 70px;
}
/*------------MAP------------*/
.map-wrapper {
  background-color:#FBFCF5;
  padding-top: 150px;
  padding-bottom: 150px;
}
.map {
  text-align: center;
}
/*====---utilites---======*/
.text-accent{
  display: inline-block;
  font-weight: 400;
font-size: 18px;
line-height: 1.33;
color: #00CA90;
}
.map-title {
  font-weight: 400;
font-size: 42px;
line-height: 1.33;
color: #013A51;
margin-bottom: 13px;
}
.map-text {
  font-weight: 400;
font-size: 18px;
line-height: 1.44;
color: #013A51;
width: 846px;
display: inline-block;
margin-bottom: 19px;
}
.map-button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.map-button .link {
  display: block;
}
.greenbg {
  display: block;
  text-decoration: none;
  padding: 15px 48px;
  background-color: #00CA90;
  border-radius: 50px;
  color: #FFFFFF;
  width: 262px;
}
.map-button > .item + .item {
  margin-left: 12px;
}
/*==============WORKS=============*/
.works {
  background-color: #F2F4E8;
  padding-top: 150px;
  padding-bottom: 150px;
}
.container-works {
  display: flex;
  
}
.works-wrapper {
  margin-right: 102px;

}
.works-text {
  font-weight: 400;
font-size: 18px;
line-height: 1.33;
color: #00CA90;
margin-bottom: 10px;
}
.works-title {
  font-weight: 400;
font-size: 41px;
line-height: 1.36;
color: #013A51;
margin-bottom: 9px;
}
.works-text-text {
  font-weight: 400;
font-size: 21px;
line-height: 1.33;
color: #013A51;
margin-bottom: 20px;
}
.works-wrapper > .link {
  padding: 7px 30px;
  border: 2px solid #00CA90;
border-radius: 50px;
  text-decoration: none;
  font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #013A51;
}
.works-icon{
  margin-bottom: 20px;
}
.works-title-title {
  font-weight: 400;
font-size: 23px;
line-height: 1.30;
color: #013A51;
margin-bottom: 10px;
}
.works-item-text {
  font-weight: 400;
font-size: 15px;
line-height: 1.46;
color: #5C7782;
}
.works-list> .item:not(:last-child) {
  margin-bottom: 65px;
}
/*============INDUSTRY==========*/
.industry {
  padding-top: 150px;
  padding-bottom: 150px;
}
.industry-wrapper-text {
  text-align: center;
}
.industry-list-item-icon {
  margin-right: 30px;
}
.industry-title {
  font-weight: 400;
  font-size: 41px;
  line-height: 1.36;
  color: #013A51;
  margin-bottom: 9px;
  width: 747px;
  margin-left: auto;
  margin-right: auto;
}
.industry-text {
  font-weight: 400;
font-size: 18px;
line-height: 1.44;
color: #013A51;
width: 872px;
margin-left: auto;
margin-right: auto;
margin-bottom: 70px;
}
.industry-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 102px;
}
.industry-list-item {
  display: flex;
  width: 442px;
}
.industry-list-item:not(:nth-child(2n)) {
  margin-right: 112px;
}
.industry-list-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 60px;
}
.industry-item-title {
  font-weight: 400;
font-size: 24px;
line-height: 1.33;
color: #013A51;
}
.industry-item-text {
  font-weight: 400;
font-size: 15px;
line-height: 1.46;
color: #5C7782;
}
.industry-item-span {
  font-weight: 400;
font-size: 15px;
line-height: 1.33;
color: #013A51;
}
.industry-bottom-text {
  text-align: center;
}
.industry-bottom-title {
  font-weight: 400;
font-size: 32px;
line-height: 1.34;
color: #013A51;
margin-bottom: 13px;
}
.industry-bottom-text-text {
  font-weight: 400;
font-size: 18px;
line-height: 1.44;
color: #013A51;
margin-bottom: 19px;
width: 894px;
margin-left: auto;
margin-right: auto;
margin-bottom: 24px;
}
.industry-bottom-link {
  display: block;
  padding: 15px 80px;
  margin-left: auto;
  margin-right: auto;
}
/*==========SIMPLE===========*/
.simple {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #0A2540;
}
.simple-secondary {
  margin-right: 102px;
}
.simple-title{
  font-weight: 400;
font-size: 42px;
line-height: 1.33;
color: #FFFFFF;
margin-bottom: 12px;
}
.simple-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 24px;
}
.simple-list {
  display: flex;
}
.simple-list> .simple-list-item + .simple-list-item {
  margin-left: 24px;
}
.simple-list .link {
  text-align: center;
  padding: 15px 70px;
}
.simple-wrapper {
  display: flex;
  align-items: center;
}
.simple-accent {
  margin-bottom: 9px;
}
/*=======------PARTNERS-----=======*/
.container-partners {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid blue; */

}
.partners-wrapper {
  display: flex;
}
.partners-foto {
  margin-right: 114px;
}

.partners-text-primary {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.42;
  color: rgba(1, 58, 81, 0.59);
  margin-bottom: 40px;
}
.partners-general {
  margin-top: 80px;
  max-width: 546px;
}
.partners-general .text-accent {
  margin-bottom: 15px;
}

.partners-text-secondary-span {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.42;
  color: #013A51;
}
.brackets {
  display: inline-block;
  font-weight: 400;
  font-size: 52px;
  line-height: 52px;
  color: #00CA90;
  margin-bottom: 10px;
}
.partners-text-secondary {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #013A51;
  margin-bottom: 20px;
}
.partners-link-more {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #013A51;
  margin-bottom: 40px;
}
.partners-span {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: #013A51;
}
.partners-wrap {
  display: flex;
  margin-bottom: 41px;
}
.partners-logo {
  margin-right: 38px;
}
.partners-more-link {
  text-align: center;
  display: inline-block;
  text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 1.14;
color: #013A51;
padding: 15px 128px;
border: 2px solid #00CA90;
border-radius: 50px;
}
/*======-------TRY----------=========*/
.try {
  background-color: #F2F4E8;
}
.try-wrapper {
  padding-top: 150px;
  padding-bottom: 150px;
}
.try-list-item {
  text-align: center;
  
}
.primary {
  padding-top: 74px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F2F4E8 217.84%), #193844;
  border-radius: 30px;
  padding-bottom: 61px;
  margin-bottom: 150px;
}
.try-title-primary {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.33;
  color: #FFFFFF;
}
.try-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 1.33;
  color: #FFFFFF;
}
.try-list .try-link {
  margin-top: 39px;
  margin-left: auto;
  margin-right: auto;
}
.try-list-ite, .text-accent {
  margin-bottom: 9px;
}
.try-title-secondary {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.33;
  color: #013A51;
}
.secondary .try-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #013A51;
  padding: 15px 128px;
  border: 2px solid #00CA90;
  border-radius: 50px;
}
/*=======-----FOOTER-------========*/
.footer {
  background-color: #193844;
}
.footer-wrap-primary {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
.registration-list {
  margin-left: auto;
}
.footer-wrap-secondary {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-wrap-secondary > .product-list:not(:last-child) {
  margin-right: 75px;
}
.product-list  .product-item:not(:last-child) {
  margin-bottom: 17px;
}
.product-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: #FFFFFF;
  text-decoration: none;
}
.mod {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.30;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.75);
}
.content-accent {
  border-top: 1px solid #275668;
  border-bottom: 1px solid #275668;
}
.footer-copyright {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  color: #FFFFFF;
  padding-top: 46px;
  padding-bottom: 46px;
}